{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'you.have.successfully.changed.the.password'|trans }}</p>
    <a href="{{ path('voucher_search') }}">{{ 'go.to.homepage'|trans }}</a>
</div>
