{% extends 'base_no_header.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
{% endblock %}

{% block page %}
    {% include ':partials:header.html.twig' %}
    <div class="container">
        {% block body %}{% endblock %}
    </div>
{% endblock %}
