parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: mydummytestingemail@gmail.com
    mailer_password: ~

    secret: ThisTokenIsMoreSecretTrustMe
    vouchers_per_page: 5
    users_per_page: 5
